<!-- views/rooms/delete.ejs -->

<h1 class="mb-0" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Delete Booth Confirmation</h1>

<br>

<form method="post" action="/rooms/<%= room.id %>/booths/<%= booth.id %>?_method=DELETE">
    
    <br>

    <h4 class="card-title" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; font-weight: bold; letter-spacing: 1px;">BOOTH <%= booth.id %> - ROOM <%= room.id %>: <%= room.name %></h4>

    <br>

    <div class="form-group">
        <label for="language">Language:</label>
        <input type="language" class="form-control" id="language" name="language" value="<%= booth.language %>" readonly>
    </div>

    <div class="form-group">
        <label for="language_a">Language to:</label>
        <input type="language_a" class="form-control" id="language_a" name="language_a" value="<%= booth.language_a %>" readonly>
    </div>


    <!-- Agregar el número de Interpreters e info -->
    <br>
    <div class="form-group">
        <p>Interpreters associated with this booth: <b><%= booth.interpreters.length %></b></p>
    </div>
    <br>
    <div class="form-group">
        <table class="table">
            <thead>
                <tr>
                    <th>Interpreter ID</th>
                    <th>Username</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <% booth.interpreters.forEach(interpreter => { %>
                    <tr>
                        <td><%= interpreter.id %></td>
                        <td><%= interpreter.User.username %></td>
                        <td><%= interpreter.User.email %>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
            
        </table>
    </div>

    
    
    <br>
    <br>
    
    <div>
        <p><b>If you delete the booth, the interpreters will be unassigned.</b></p>
        <p>Are you sure you want to delete this booth?</p>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-danger">Confirm deletion</button>
        <a href="javascript:history.go(-1)" class="btn btn-outline-dark">Cancel</a>
    </div>
</form>

<br>
<br>
<br>
