<!-- views/rooms/edit.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Booth</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-0" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Edit Booth</h2>

        <br>      

        <form method="post" action="/rooms/<%= room.id %>/booths/<%= booth.id %>?_method=PUT">          
            
            <!-- Room Details (String) -->
            <div class="form-group">
                <label for="room">Room Details:</label>
                <input type="text" class="form-control" id="room" name="room" value="Room <%= room.id %>: <%= room.name %>" readonly>
            </div>

            <!-- ID (INT) -->
            <div class="form-group">
                <label for="id">Booth ID:</label>
                <input type="text" class="form-control" id="id" name="id" value="<%= booth.id %>" readonly>
            </div>

            <!-- Language (String) -->
            <div class="form-group">
                <label for="language">Language:</label>
                <input type="text" class="form-control" id="language" name="language" value="<%= booth.language %>" readonly>
            </div>

            <br>

            <!-- Language a (String) -->
            <div class="form-group">
                <label for="language_a">Language to:</label>
                <select class="form-control" id="language_a" name="language_a" required>
                    <option value="" selected disabled> - Select Language - </option>
                    <% allLanguages.forEach(language => { %>
                        <option value="<%= language.name %>" <% if (booth.language_a === language.name) { %> selected <% } %>><%= language.name %></option>
                    <% }); %>
                </select>
            </div>
            <div class="card-header" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a;  letter-spacing: 1px;">
                <b>IMPORTANT!</b> If you modify the language to, all interpreters assigned to this booth will be deleted.
            </div>
                    
            <!-- Signs (Boolean) -->
            <div class="form-group">
                <label for="signs">Signs:</label>
                <select class="form-control" id="signs" name="signs" required>
                    <option value="true"<%= (booth.signs === true) ? ' selected' : '' %>>Yes</option>
                    <option value="false"<%= (booth.signs === false) ? ' selected' : '' %>>No</option>
                </select>
            </div>

            <!-- Deaf (Boolean) -->
            <div class="form-group">
                <label for="deaf">Deaf:</label>
                <select class="form-control" id="deaf" name="deaf" required>
                    <option value="true"<%= (booth.deaf === true) ? ' selected' : '' %>>Yes</option>
                    <option value="false"<%= (booth.deaf === false) ? ' selected' : '' %>>No</option>
                </select>
            </div>

            <!-- Single (Boolean) -->
            <div class="form-group">
                <label for="single">Single:</label>
                <select class="form-control" id="single" name="single" required>
                    <option value="true"<%= (booth.single === true) ? ' selected' : '' %>>Yes</option>
                    <option value="false"<%= (booth.single === false) ? ' selected' : '' %>>No</option>
                </select>
            </div>

            <!-- Speech to text (Boolean) -->
            <div class="form-group">
                <label for="speech_to_text">Speech to text:</label>
                <select class="form-control" id="speech_to_text" name="speech_to_text" required>
                    <option value="true"<%= (booth.speech_to_text === true) ? ' selected' : '' %>>Yes</option>
                    <option value="false"<%= (booth.speech_to_text === false) ? ' selected' : '' %>>No</option>
                </select>
            </div>

            <br>
            
            <!-- Botón para guardar cambios -->
            <button type="submit" class="btn btn-primary">Save Changes</button>

            <!-- Botón para ir atrás -->
            <a href="javascript:history.go(-1)" class="btn btn-outline-dark">Cancel</a>
            
        </form>
        <br>
        <br>
    </div>

    <!-- Bootstrap JS (opcional, solo si necesitas funcionalidades de Bootstrap) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>



