<!-- views/rooms/new.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Booth</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        .profile-header h2 {
            font-family: Georgia, serif;
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 3px;
            margin-top: 20px;
            padding: 15px 20px;
            text-align: center;
            background-color: #0e6b00;
            border-radius: 10px;
        }
        
        .form-group {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 5px;
        }

    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="profile-header">
            <h2>Create New Booth</h2>
        </div>
        <form action="/rooms/<%= room.id %>/booths" method="POST">
            <br>
            
            <!-- Mensajes error por language -->
            <% if (typeof error_msg !== 'undefined' && error_msg.length > 0) { %>
                <div class="alert alert-danger" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold;">
                    <% error_msg.forEach(function(msg) { %>
                        <%= msg %><br>
                    <% }); %>
                </div>
            <% } %>

            <!-- Room Details (String) -->
            <div class="form-group">
                <label for="room">Room Details:</label>
                <input type="text" class="form-control" id="room" name="room" value="Room <%= room.id %>: <%= room.name %>" readonly>
            </div>

            <!-- Language (String) -->
            <div class="form-group">
                <label for="language">Language:</label>
                <input type="text" class="form-control" id="language" name="language" value="<%= room.language %>" readonly>
            </div>

            <!-- Language a (String) -->
            <div class="form-group">
                <label for="language_to_translate">Language to:</label>
                <select class="form-control" id="language_to_translate" name="language_to_translate" required>
                    <option value="" selected disabled> - Select Language - </option>
                    <% allLanguages.forEach(language => { %>
                        <option value="<%= language.name %>"><%= language.name %></option>
                    <% }); %>
                </select>
            </div>

            <!-- Signs (Boolean) -->
            <div class="form-group">
                <label for="signs">Signs:</label>
                <select class="form-control" id="signs" name="signs" required>
                    <option value="" selected disabled> - Select an option - </option>
                    <option value="true" ? ' selected' : '' %>>Yes</option>
                    <option value="false" ? ' selected' : '' %>>No</option>
                </select>
            </div>

            <!-- Deaf (Boolean) -->
            <div class="form-group">
                <label for="deaf">Deaf:</label>
                <select class="form-control" id="deaf" name="deaf" required>
                    <option value="" selected disabled> - Select an option - </option>
                    <option value="true" ? ' selected' : '' %>>Yes</option>
                    <option value="false" ? ' selected' : '' %>>No</option>
                </select>
            </div>

            <!-- Single (Boolean) -->
            <div class="form-group">
                <label for="single">Single:</label>
                <select class="form-control" id="single" name="single" required>
                    <option value="" selected disabled> - Select an option - </option>
                    <option value="true" ? ' selected' : '' %>>Yes</option>
                    <option value="false" ? ' selected' : '' %>>No</option>
                </select>
            </div>

            <!-- Speech to text (Boolean) -->
            <div class="form-group">
                <label for="speech_to_text">Speech to text:</label>
                <select class="form-control" id="speech_to_text" name="speech_to_text" required>
                    <option value="" selected disabled> - Select an option - </option>
                    <option value="true" ? ' selected' : '' %>>Yes</option>
                    <option value="false" ? ' selected' : '' %>>No</option>
                </select>
            </div>

            <br>

            <div class="form-group" style="text-align: center;">
                <button type="submit" class="btn btn-success">Create Booth</button>
                <a href="javascript:history.go(-1)" class="btn btn-outline-dark">Cancel</a>
            </div>

        </form>
    </div>

    <!-- Bootstrap JS (opcional, solo si necesitas funcionalidades de Bootstrap) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

<br>
<br>
<br>

    