<!-- views/rooms/edit.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Room</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-0" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Edit Room</h2>

        <br>      

        <form method="post" action="/rooms/<%= room.id %>?_method=PUT">          
            
            <!-- ID (INT) -->
            <div class="form-group">
                <label for="id">ID:</label>
                <input type="text" class="form-control" id="id" name="id" value="<%= room.id %>" readonly>
            </div>
            
            <!-- Name (String) -->
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" value="<%= room.name %>" required>
            </div>

            <!-- Description (Text) -->
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" rows="3" required><%= room.description %></textarea>
            </div>

            <!-- Licode Room (String) -->
            <div class="form-group">
                <label for="licode_room">Licode Room:</label>
                <input type="text" class="form-control" id="licode_room" name="licode_room" value="<%= room.licode_room %>">
            </div>

            <br>
            <% if (typeof error_msg !== 'undefined' && error_msg.length > 0) { %>
                <div class="alert alert-danger" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold;">
                    <% error_msg.forEach(function(msg) { %>
                        <%= msg %><br>
                    <% }); %>
                </div>
            <% } %>

            <div class="card mb-3">
                <div class="card-header" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">
                    IMPORTANT EVENT DETAILS
                </div>
                <div class="card-body">

                    <!-- Language (String) -->
                    <div class="form-group">
                        <label for="language">Language:</label>
                        <select class="form-control" id="language" name="language" required>
                            <% allLanguages.forEach(language => { %>
                                <option value="<%= language.name %>" <% if (room.language === language.name) { %> selected <% } %>><%= language.name %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="card-header" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a;  letter-spacing: 1px;">
                        <b>IMPORTANT!</b> If you modify the language, the booths assigned to this room will be modified, changing their source language and eliminating all the interpreters assigned to them.
                    </div>

                    <br>

                    <!-- Date (Date) -->
                    <div class="form-group">
                        <label for="date">Date:</label>
                        <input type="date" class="form-control" id="date" name="date" value="<%= room.date.toISOString().split('T')[0] %>" required>
                    </div>
            
                    <!-- Time Start (Time) -->
                    <div class="form-group">
                        <label for="time_start">Start Time: </label>
                        <select class="form-control" id="time_start" name="time_start" required>
                            <% for (let hour = 0; hour <= 23; hour++) { %>
                                <% let formattedHour = (hour < 10) ? '0' + hour : hour; %>
                                <% let selected = (room.time_start && room.time_start === formattedHour + ':00:00') ? ' selected' : ''; %>
                                <option value="<%= formattedHour %>:00" <%= selected %>><%= formattedHour %>:00</option>
                            <% } %>
                        </select>
                    </div>
            
                    <!-- Time Finish (Time) -->
                    <div class="form-group">
                        <label for="time_finish">Finish Time: </label>
                        <select class="form-control" id="time_finish" name="time_finish" required>
                            <% for (let hour = 0; hour <= 23; hour++) { %>
                                <% let formattedHour = (hour < 10) ? '0' + hour : hour; %>
                                <% let selected = (room.time_finish && room.time_finish === formattedHour + ':00:00') ? ' selected' : ''; %>
                                <option value="<%= formattedHour %>:00" <%= selected %>><%= formattedHour %>:00</option>
                            <% } %>
                        </select>
                    </div>
                </div>
            </div>
            

            <br>

            <!-- Place (String) -->
            <div class="form-group">
                <label for="place">Place:</label>
                <input type="text" class="form-control" id="place" name="place" value="<%= room.place %>">
            </div>

            <!-- AI Enabled (Boolean) -->
            <div class="form-group">
                <label for="ai_enabled">AI Enabled:</label>
                <select class="form-control" id="ai_enabled" name="ai_enabled" required>
                    <!-- <option value="" <%= (room.ai_enabled === null) ? 'selected' : '' %>>Not defined</option> -->
                    <option value="true" <%= (room.ai_enabled === true) ? 'selected' : '' %>>Yes</option>
                    <option value="false" <%= (room.ai_enabled === false) ? 'selected' : '' %>>No</option>
                </select>
            </div>
            

            <!-- On Air (String) -->
            <div class="form-group">
                <label for="on_air">On Air:</label>
                <input type="text" class="form-control" id="on_air" name="on_air" value="<%= room.on_air %>">
            </div>

            <!-- Educational (Boolean) -->
            <div class="form-group">
                <label for="educational">Educational:</label>
                <select class="form-control" id="educational" name="educational" required>
                    <!-- <option value=""<%= (room.educational === null) ? ' selected' : '' %>>Not defined</option> -->
                    <option value="true"<%= (room.educational === true) ? ' selected' : '' %>>Yes</option>
                    <option value="false"<%= (room.educational === false) ? ' selected' : '' %>>No</option>
                </select>
            </div>

            <!-- Zoom URL (String) -->
            <div class="form-group">
                <label for="zoom_url">Zoom URL:</label>
                <input type="text" class="form-control" id="zoom_url" name="zoom_url" value="<%= room.zoom_url %>" pattern="https?://.+">
                <small id="zoom_url_help" class="form-text text-muted">Please enter a valid URL starting with 'http://' or 'https://'.</small>
            </div>
            
            <!-- <div class="form-group">
                <label for="zoom_url">Zoom URL:</label>
                <input type="text" class="form-control" id="zoom_url" name="zoom_url" value="<%= room.zoom_url %>">
            </div> -->
            
            <!-- Assigned VRC (String) -->
            <div class="form-group">
                <label for="assigned_vrc">Assigned VRC:</label>
                <input type="text" class="form-control" id="assigned_vrc" name="assigned_vrc" value="<%= room.assigned_vrc %>">
            </div>


            <br>
            
            <!-- Botón para guardar cambios -->
            <button type="submit" class="btn btn-primary">Save Changes</button>

            <!-- Botón para ir atrás -->
            <a href="javascript:history.go(-1)" class="btn btn-outline-dark">Cancel</a>
            
        </form>
        <br>
        <br>
    </div>

    <!-- Bootstrap JS (opcional, solo si necesitas funcionalidades de Bootstrap) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>



