<!-- views/rooms/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        
        .subtitle h4 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #4a4a4a;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            margin-top: 20px;
            padding: 7px 5px;
        }
        .initial-table th{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #4a4a4a;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            width: 22%;
            vertical-align: middle;
            border-radius: 5px;
            border: 3px solid #ffffff;
            letter-spacing: 0.7px;
            width: 20%;
        }
        .initial-table td {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #4a4a4a;
            letter-spacing: 0.6px;
            vertical-align: middle;
            border-radius: 5px;
            border: 3px solid #ffffff;
        }
        .initial-table tbody tr:nth-of-type(odd) {
            background-color: #f9f9f9;
        }
        .initial-table tbody tr:nth-of-type(even) {
            background-color: #f9f9f9;
        }
        .initial-table tbody tr:hover {
            background-color: #e9ecef;
        }

        .last-thead th {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: #4a4a4a;
            color: #fff;
            vertical-align: middle;
            text-align: center;
            padding: 5px;
        }

        .last-table td {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #4a4a4a;
            letter-spacing: 0.6px;
            text-align: center;
            border: 2px solid #fff;
        }
        .last-table {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .last-table tbody tr:nth-of-type(even) {
            background-color: #f9f9f9;
        }
        .form-group {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #4a4a4a;
            padding: 5px;
        }

    </style>
    
</head>
<body>

<!-- Botones de filtrado -->
<div class="btn-group mb-3 d-flex justify-content-center">
    <button type="button" class="btn btn-outline-dark filter-btn" data-filter="all">All</button>
    <button type="button" class="btn btn-outline-dark filter-btn" data-filter="upcoming">Upcoming Events</button>
    <button type="button" class="btn btn-outline-dark filter-btn" data-filter="finished">Finished Events</button>
</div>

<!-- Contenedor de las rooms -->
<div id="rooms-container">
    <% rooms.forEach(room => { %>
        <div class="card mb-3">
            <div class="card-header d-flex justify-content-between align-items-center" id="roomHeader<%= room.id %>">
                <h4 class="card-title" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; font-weight: bold; letter-spacing: 1px;">ROOM <%= room.id %>: <%= room.name %></h4>
                <a href="/rooms/<%= room.id %>" class="btn btn-secondary btn-sm ml-auto"><i class="fa-solid fa-eye"></i></a>
            </div>        
            <div class="card-body" style="display: none;" id="roomDetails<%= room.id %>">
                <!-- Detalles de la habitación -->
                <div class="d-flex justify-content-between align-items-center subtitle" id="roomHeader<%= room.id %>">
                    <h4 class="card-title text-center">SUMMARY DETAILS</h4>
                    <div>
                        <% if (room.date > new Date()) { %>
                            <a href="/rooms/<%= room.id %>/edit" class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                        <% } else { %>
                            <a href="/rooms/<%= room.id %>/votes" class="btn btn-secondary btn-sm">Votes</a>
                        <% } %>
                        <a href="/rooms/<%= room.id %>/delete" class="btn btn-danger btn-sm ml-2"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>            

                <table class="table table-borderless mt-8 initial-table">
                    <tr>
                        <th>Date:</th>
                        <td class="room-date" data-date="<%= room.date %>"><%= room.date.toLocaleDateString() %></td>

                    </tr>
                    <tr>
                        <th>Language:</th>
                        <td><%= room.language %></td>
                    </tr>
                    <tr>
                        <th>Start Time:</th>
                        <td><%= room.time_start %></td>
                    </tr>
                    <tr>
                        <th>Finish Time:</th>
                        <td><%= room.time_finish %></td>
                    </tr>

                </table>

                <hr>

                <!-- Tabla roles asignados -->

                <div class="subtitle">
                    <h4><i class="fa-solid fa-user-group"></i>    STAFF</h4>
                </div>

                <table class="table mt-3 last-table">
                    <thead class="last-thead">
                        <tr>
                            <th>Role</th>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <% if (room.date > new Date()) { %>
                                <th>Manage</th>
                            <% } %>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Consultant</td>
                            <% if (room.consultantOfRoom) { %>
                                <td style="text-align: center"><%= room.consultantOfRoom.id %></td>
                                <td><%= room.consultantOfRoom.User.username %></td>
                                <td><%= room.consultantOfRoom.User.email %></td>
                                <% if (room.date > new Date()) { %>
                                    <td style="text-align: center"><a href="/rooms/<%= room.id %>/selectConsultant" class="btn btn-secondary btn-sm"><i class="fa-solid fa-user-gear"></i></a></td>
                                <% } %>
                            <% } else { %>
                                <td></td>
                                <td></td>
                                <td></td>
                                <% if (room.date > new Date()) { %>
                                    <td style="text-align: center"><a href="/rooms/<%= room.id %>/selectConsultant" class="btn btn-primary btn-sm"><i class="fa-solid fa-user-plus"></i></a></td>
                                <% } %>
                            <% } %>
                        </tr>
                        <tr>
                            <td>Coordinator</td>
                            <% if (room.coordinatorOfRoom) { %>
                                <td style="text-align: center"><%= room.coordinatorOfRoom.id %></td>
                                <td><%= room.coordinatorOfRoom.User.username %></td>
                                <td><%= room.coordinatorOfRoom.User.email %></td>
                                <% if (room.date > new Date()) { %>
                                    <td style="text-align: center"><a href="/rooms/<%= room.id %>/selectCoordinator" class="btn btn-secondary btn-sm"><i class="fa-solid fa-user-gear"></i></a></td>
                                <% } %>
                            <% } else { %>
                                <td></td>
                                <td></td>
                                <td></td>
                                <% if (room.date > new Date()) { %>
                                    <td style="text-align: center"><a href="/rooms/<%= room.id %>/selectCoordinator" class="btn btn-primary btn-sm"><i class="fa-solid fa-user-plus"></i></a></td>
                                <% } %>
                            <% } %>
                        </tr>
                        <tr>
                            <td>Operator</td>
                            <% if (room.operatorOfRoom) { %>
                                <td style="text-align: center"><%= room.operatorOfRoom.id %></td>
                                <td><%= room.operatorOfRoom.User.username %></td>
                                <td><%= room.operatorOfRoom.User.email %></td>
                                <% if (room.date > new Date()) { %>
                                    <td style="text-align: center"><a href="/rooms/<%= room.id %>/selectOperator" class="btn btn-secondary btn-sm"><i class="fa-solid fa-user-gear"></i></a></td>
                                <% } %>
                            <% } else { %>
                                <td></td>
                                <td></td>
                                <td></td>
                                <% if (room.date > new Date()) { %>
                                    <td style="text-align: center"><a href="/rooms/<%= room.id %>/selectOperator" class="btn btn-primary btn-sm"><i class="fa-solid fa-user-plus"></i></a></td>
                                <% } %>
                            <% } %>
                        </tr>
                        <tr>
                            <td>Technician</td>
                            <% if (room.technicianOfRoom) { %>
                                <td style="text-align: center"><%= room.technicianOfRoom.id %></td>
                                <td><%= room.technicianOfRoom.User.username %></td>
                                <td><%= room.technicianOfRoom.User.email %></td>
                                <% if (room.date > new Date()) { %>
                                    <td style="text-align: center"><a href="/rooms/<%= room.id %>/selectTechnician" class="btn btn-secondary btn-sm"><i class="fa-solid fa-user-gear"></i></a></td>
                                <% } %>
                            <% } else { %>
                                <td></td>
                                <td></td>
                                <td></td>
                                <% if (room.date > new Date()) { %>
                                    <td style="text-align: center"><a href="/rooms/<%= room.id %>/selectTechnician" class="btn btn-primary btn-sm"><i class="fa-solid fa-user-plus"></i></a></td>
                                <% } %>
                            <% } %>
                        </tr>
                    </tbody>
                    
                </table>

                <br>
                <hr>

                <!-- Tabla para booths -->

                <div class="profile-header subtitle">
                    <h4><i class="fa-solid fa-language"></i>    Booths table</h4>
                </div>
                
                <div class="form-group">
                    <table class="table mt-3 last-table">
                        <thead class="last-thead">
                            <tr>
                                <th>Booths</th>
                                <th>Language From</th>
                                <th>Language To</th>
                                <th>Interpreters</th>
                                <th></th>
                            </tr>
                        </thead>
                
                        <tbody>
                            <% room.boothsDetails.forEach(booth => { %>
                                <tr>
                                    <td>Booth <%= booth.id %></td>
                                    <td><%= booth.language %></td>
                                    <td><%= booth.language_a %></td>
                                    <td style="width: 30%;">
                                        <% 
                                            const interpreters = booth.interpreters.map(interpreter => interpreter.User.username);
                                        %>
                                        <%= interpreters.join(', ') %>
                                    </td>
                                    <td>
                                        <% if (room.date > new Date()) { %>
                                            <div class="float-right">
                                                <% if (booth.interpreters && booth.interpreters.length > 0) { %> 
                                                    <a href="/rooms/<%= room.id %>/booths/<%= booth.id %>/selectInterpreter" class="btn btn-secondary btn-sm"><i class="fa-solid fa-user-gear"></i></a>
                                                <% } else { %>
                                                    <a href="/rooms/<%= room.id %>/booths/<%= booth.id %>/selectInterpreter" class="btn btn-secondary btn-sm"><i class="fa-solid fa-user-plus"></i></a>
                                                <% } %>
                                                <a href="/rooms/<%= room.id %>/booths/<%= booth.id %>/edit" class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                                                <a href="/rooms/<%= room.id %>/booths/<%= booth.id %>/delete" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can"></i></a>
                                            </div>
                                        <% } %>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>            
                    
                    <!-- BUTTON: new booth -->
                    <div>
                        <% if (room.date > new Date()) { %>
                            <a href="/rooms/<%= room.id %>/booths/new" class="btn btn-success btn-sm"><i class="fa-solid fa-plus"></i>  New Booth</a>
                        <% } %>
                    </div>
                    
                </div>
                    
                
                
                <br>
                
            </div>
        </div>

    <% }); %>
</div>
    
<br>

<!-- BUTTON: new room -->
<div class="text-center">
    <a href="/rooms/new" class="btn btn-success"><i class="fa-solid fa-plus"></i>  New Room</a>
</div>

<br>
<br>
<br>





<!-- Encabezados desplegables -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Obtener todos los encabezados de tarjeta
        var cardHeaders = document.querySelectorAll('.card-header');

        // Iterar sobre cada encabezado de tarjeta y agregar un evento de clic
        cardHeaders.forEach(function(header) {
            header.addEventListener('click', function() {
                // Obtener el cuerpo de la tarjeta asociada al encabezado
                var cardBody = this.nextElementSibling;

                // Alternar la visibilidad del cuerpo de la tarjeta
                if (cardBody.style.display === 'none' || cardBody.style.display === '') {
                    cardBody.style.display = 'block';
                } else {
                    cardBody.style.display = 'none';
                }
            });
        });
    });
</script>


<!-- Filtrar rooms -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
      // Obtener todos los botones de filtro
      var filterButtons = document.querySelectorAll('.filter-btn');
    
      // Iterar sobre cada botón de filtro y agregar un evento de clic
      filterButtons.forEach(function(button) {
        button.addEventListener('click', function() {
          // Obtener el filtro asociado al botón
          var filter = this.dataset.filter;
    
          // Obtener todas las cartas de las salas
          var rooms = document.querySelectorAll('.card');
    
          // Crear una lista para almacenar las salas que cumplen con el filtro
          var filteredRooms = [];
    
         // Iterar sobre cada carta de sala
        rooms.forEach(function(room) {
            // Obtener la fecha de la sala actual y convertirla a un objeto Date
            var dateRoomString = room.querySelector('.room-date').dataset.date;
            var dateRoom = new Date(dateRoomString);

            switch(filter) {
                case 'all':
                    // Agregar todas las salas
                    filteredRooms.push(room);
                    break;
                case 'upcoming':
                    // Obtener la fecha actual
                    var currentDate = new Date();
                    // Agregar las salas cuya fecha sea posterior a la fecha actual
                    if (dateRoom > currentDate) {
                        filteredRooms.push(room);
                    }
                    break;
                case 'finished':
                    // Obtener la fecha actual
                    var currentDate = new Date();
                    // Agregar las salas cuya fecha sea anterior o igual a la fecha actual
                    if (dateRoom <= currentDate) {
                        filteredRooms.push(room);
                    }
                    break;
            }
        });



    
          // Mostrar u ocultar las salas según el filtro
          rooms.forEach(function(room) {
            if (filteredRooms.includes(room)) {
              room.style.display = 'block';
            } else {
              room.style.display = 'none';
            }
          });
        });
      });
    
      // Agregar evento "change" al elemento de filtro
      var filterSelect = document.querySelector('#filter-select');
    
      filterSelect.addEventListener('change', function() {
        var filter = this.value;
        // Llama a la función de filtrado con el nuevo valor
        filterRooms(filter);
      });
    });
</script>
    
    
</body>
</html>