<!-- views/rooms/new.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Room</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-0" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Create New Room</h2>
        <form action="/rooms" method="POST">
            <br>

            <!-- Name (String) -->
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" class="form-control" required>
            </div>

            <!-- Language (String) -->
            <div class="form-group">
                <label for="language">Language:</label>
                <select class="form-control" id="language" name="language" required>
                    <option value="" selected disabled> - Select Language - </option>
                    <% allLanguages.forEach(language => { %>
                        <option value="<%= language.name %>" <% if (room.language === language.name) { %> selected <% } %>><%= language.name %></option>
                    <% }); %>
                </select>
            </div>

            <!-- Mensajes error por fecha u hora -->
            <% if (typeof error_msg !== 'undefined' && error_msg.length > 0) { %>
                <div class="alert alert-danger" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold;">
                    <% error_msg.forEach(function(msg) { %>
                        <%= msg %><br>
                    <% }); %>
                </div>
            <% } %>

            <!-- Date (Date) -->
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" class="form-control" id="date" name="date" required>
            </div>
    
            <!-- Time Start (Time) -->
            <div class="form-group">
                <label for="time_start">Start Time: </label>
                <select class="form-control" id="time_start" name="time_start" required>
                    <option value="" disabled selected> - Select an option - </option>
                    <% for (let hour = 0; hour <= 23; hour++) { %>
                        <% let formattedHour = (hour < 10) ? '0' + hour : hour; %>
                        <% let selected = (room.time_start && room.time_start === formattedHour + ':00:00') ? ' selected' : ''; %>
                        <option value="<%= formattedHour %>:00" <%= selected %>><%= formattedHour %>:00</option>
                    <% } %>
                </select>
            </div>
    
            <!-- Time Finish (Time) -->
            <div class="form-group">
                <label for="time_finish">Finish Time: </label>
                <select class="form-control" id="time_finish" name="time_finish" required>
                    <option value="" disabled selected> - Select an option - </option>
                    <% for (let hour = 0; hour <= 23; hour++) { %>
                        <% let formattedHour = (hour < 10) ? '0' + hour : hour; %>
                        <% let selected = (room.time_finish && room.time_finish === formattedHour + ':00:00') ? ' selected' : ''; %>
                        <option value="<%= formattedHour %>:00" <%= selected %>><%= formattedHour %>:00</option>
                    <% } %>
                </select>
            </div>
            
            <br>

            <!-- Place (String) -->
            <div class="form-group">
                <label for="place">Place:</label>
                <input type="text" class="form-control" id="place" name="place" value="<%= room.place %>" required>
            </div>

            <br>
            <br>

            <h5 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;"><b>OTHER INFORMATION</b></h5>
            <!-- Description (Text) -->
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" rows="3" ><%= room.description %></textarea>
            </div>

            <!-- Licode Room (String) -->
            <div class="form-group">
                <label for="licode_room">Licode Room:</label>
                <input type="text" class="form-control" id="licode_room" name="licode_room">
            </div>

            <!-- AI Enabled (Boolean) -->
            <div class="form-group">
                <label for="ai_enabled">AI Enabled:</label>
                <select class="form-control" id="ai_enabled" name="ai_enabled" required>
                    <option value="" selected disabled> - Select an option - </option>
                    <option value="true" ? ' selected' : '' %>>Yes</option>
                    <option value="false" ? ' selected' : '' %>>No</option>
                </select>
            </div>

            <!-- On Air (String) -->
            <div class="form-group">
                <label for="on_air">On Air:</label>
                <input type="text" class="form-control" id="on_air" name="on_air">
            </div>

            <!-- Educational (Boolean) -->
            <div class="form-group">
                <label for="educational">Educational:</label>
                <select class="form-control" id="educational" name="educational" required>
                    <option value="" selected disabled> - Select an option - </option>
                    <option value="true" ? ' selected' : '' %>>Yes</option>
                    <option value="false" ? ' selected' : '' %>>No</option>
                </select>
            </div>

            <!-- Zoom URL (String) -->
            <div class="form-group">
                <label for="zoom_url">Zoom URL:</label>
                <input type="text" class="form-control" id="zoom_url" name="zoom_url" pattern="https?://.+">
                <small id="zoom_url_help" class="form-text text-muted">Please enter a valid URL starting with 'http://' or 'https://'.</small>
            </div>

            <!-- Assigned VRC (String) -->
            <div class="form-group">
                <label for="assigned_vrc">Assigned VRC:</label>
                <input type="text" class="form-control" id="assigned_vrc" name="assigned_vrc">
            </div>

            <br>

            <!-- Botón para crear room -->
            <button type="submit" class="btn btn-primary">Create Room</button>

            <!-- Botón para volver atrás -->
            <a href="/rooms" class="btn btn-outline-dark">Cancel</a>

        </form>
    </div>

    <!-- Bootstrap JS (opcional, solo si necesitas funcionalidades de Bootstrap) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

<br>
<br>
<br>

    