<!-- views/rooms/selectOperator.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Operator</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        .profile-header {
            font-family: Georgia, serif;
            color: #fff;
            font-weight: bold;
            letter-spacing: 3px;
            margin-top: 20px;
            padding: 15px 20px;
            text-align: center;
            background-color: #4a4a4a;
            border-radius: 10px;
        }

        .details h4 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #4a4a4a;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            margin-top: 20px;
            padding: 10px 10px;
        }
        
        .form-group {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 5px;
        }
        .form-group p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 5px;
        }
        .thead th {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: #4a4a4a;
            color: #fff;
            vertical-align: middle;
            text-align: center;
            padding: 10px;
        }
        .table td {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #4a4a4a;
            letter-spacing: 0.6px;
            text-align: center;
            border-top: 2px solid #eeeeee;
            border-bottom: 2px solid #eeeeee;
            border-left: none;
            border-right: none;
        }
        .table {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

    </style>
</head>

<form method="post" action="/rooms/<%= room.id %>/selectOperator?_method=PUT"> 

<!-- Campo oculto para almacenar el operatorId -->
<input type="hidden" id="operatorId" name="operatorId">

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="confirmModalLabel">Confirm Selection</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to select this operator as the new operator?
            </div>
            <div class="modal-footer justify-content-center">
                <button type="submit" class="btn btn-primary" name="updateOperator">Update Operator</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="profile-header">
    <h3 class="card-title text-center">ROOM <%= room.id %>: <%= room.name %></h3>
</div>

<br>


<!-- Tabla de operador actual -->
<% if (currentOperator) { %>

    <div class="details">
        <h4>CURRENT OPERATOR</h4>
    </div>

    <table class="table mt-3">

        <thead class="thead">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>
        
            <tr>
                <td><%= currentOperator.id %></td>
                <td><%= currentOperator.User.username %></td>
                <td><%= currentOperator.User.email %></td>
            </tr>
        </tbody>

    </table>
    <hr class="my-4">
<% } %>
    


<!-- Tabla de todos los operators -->

<div class="details">
    <h4>ALL OPERATORS</h4>
</div>

<table class="table mt-3">

    <thead class="thead">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Choose</th>
        </tr>
    </thead>

    <tbody>
        <% allOperators.forEach(function(operator) { %>
            <tr <% if (currentOperator && operator.id === currentOperator.id) { %> style="background-color: #f0f0f0;" <% } %>>
                <td><%= operator.id %></td>
                <td><%= operator.User.username %></td>
                <td><%= operator.User.email %></td>
                <td>
                    <% if (!(currentOperator && operator.id === currentOperator.id)) { %>
                        <button type="button" class="btn btn-primary btn-sm selectButton" data-toggle="modal" data-target="#confirmModal">Select</button>
                    <% } %>
                </td>
            </tr>
        <% }); %>
    </tbody>

</table>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<br>

<!-- Botón para ir atrás -->
<div class="text-center">
    <a href="/rooms/<%= room.id %>" class="btn btn-outline-dark">Back</a>
</div>

<br>
<br>
<br>

<!-- Script para capturar el consultor seleccionado y actualizar el campo oculto -->
<script>
    $(document).ready(function() {
        $('.selectButton').click(function() {
            var operatorId = $(this).closest('tr').find('td:eq(0)').text().trim(); // Obtener el ID del consultor y eliminar espacios en blanco
            $('#operatorId').val(operatorId); // Actualizar el valor del campo oculto con el ID del consultor
            var username = $(this).closest('tr').find('td:eq(1)').text().trim(); // Obtener el nombre del consultor y eliminar espacios en blanco
            $('#confirmModal .modal-body').text("Are you sure you want to select " + username + " as the new operator?");
        });
    });
</script>


