<!-- views/rooms/show.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Details</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        
        <div class="d-flex justify-content-between align-items-center" id="roomHeader<%= room.id %>">
            <h2 class="mb-0" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; width: 80%;">ROOM <%= room.id %>: <%= room.name %></h2>
            <div>
                <% if (room.date > new Date()) { %>
                    <a href="/rooms/<%= room.id %>/edit" class="btn btn-primary btn-sm">Edit Room</a>
                <% } %>
                <a href="/rooms/<%= room.id %>/delete" class="btn btn-danger btn-sm ml-2">Delete Room</a>
            </div>
        </div>
        
        <hr class="my-4">
        <br>

            <!-- Detalles de la habitación -->

            <h5 class="card-title text-center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; font-weight: bold; letter-spacing: 1px;">DETAILS</h5>

            <table class="table table-borderless mt-8">
                <tr>
                    <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; width: 15%;">Description:</th>
                    <td><%= room.description %></td>
                </tr>
                <tr>
                    <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; width: 15%;">Date:</th>
                    <td><%= room.date.toLocaleDateString() %></td>
                </tr>
                <tr>
                    <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; width: 15%;">Language:</th>
                    <td><%= room.language %></td>
                </tr>
                <tr>
                    <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; width: 15%;">Licode Room:</th>
                    <td><%= room.licode_room %></td>
                </tr>
                <tr>
                    <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; width: 15%;">Start Time:</th>
                    <td><%= room.time_start %></td>
                </tr>
                <tr>
                    <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; width: 15%;">Finish Time:</th>
                    <td><%= room.time_finish %></td>
                </tr>
                <tr>
                    <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; width: 15%;">Place:</th>
                    <td><%= room.place %></td>
                </tr>
                <tr>
                    <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; width: 15%;">AI Enabled:</th>
                    <td><%= room.ai_enabled ? 'Yes' : 'No' %></td>
                </tr>
                <tr>
                    <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; width: 15%;">On Air:</th>
                    <td><%= room.on_air %></td>
                </tr>
                <tr>
                    <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; width: 15%;">Educational:</th>
                    <td><%= room.educational ? 'Yes' : 'No' %></td>
                </tr>
                <tr>
                    <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; width: 15%;">Zoom URL:</th>
                    <td><%= room.zoom_url %></td>
                </tr>
                <tr>
                    <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; width: 15%;">Assigned VRC:</th>
                    <td><%= room.assigned_vrc %></td>
                </tr>

            </table>

            <br>
            <br>

            <!-- Tabla roles asignados -->

            <h5 class="card-title text-center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; font-weight: bold; letter-spacing: 1px;">STAFF</h5>

            <table class="table mt-3">
                <thead class="thead-dark">
                    <tr>
                        <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Role</th>
                        <th style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">ID</th>
                        <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Username</th>
                        <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Email</th>
                        <% if (room.date > new Date()) { %>
                            <th style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Manage</th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Consultant</td>
                        <% if (room.consultantOfRoom) { %>
                            <td style="text-align: center"><%= room.consultantOfRoom.id %></td>
                            <td><%= room.consultantOfRoom.User.username %></td>
                            <td><%= room.consultantOfRoom.User.email %></td>
                            <% if (room.date > new Date()) { %>
                                <td style="text-align: center"><a href="/rooms/<%= room.id %>/selectConsultant" class="btn btn-secondary btn-sm">Change</a></td>
                            <% } %>
                        <% } else { %>
                            <td></td>
                            <td></td>
                            <td></td>
                            <% if (room.date > new Date()) { %>
                                <td style="text-align: center"><a href="/rooms/<%= room.id %>/selectConsultant" class="btn btn-primary btn-sm">Select</a></td>
                            <% } %>
                        <% } %>
                    </tr>
                    <tr>
                        <td>Coordinator</td>
                        <% if (room.coordinatorOfRoom) { %>
                            <td style="text-align: center"><%= room.coordinatorOfRoom.id %></td>
                            <td><%= room.coordinatorOfRoom.User.username %></td>
                            <td><%= room.coordinatorOfRoom.User.email %></td>
                            <% if (room.date > new Date()) { %>
                                <td style="text-align: center"><a href="/rooms/<%= room.id %>/selectCoordinator" class="btn btn-secondary btn-sm">Change</a></td>
                            <% } %>
                        <% } else { %>
                            <td></td>
                            <td></td>
                            <td></td>
                            <% if (room.date > new Date()) { %>
                                <td style="text-align: center"><a href="/rooms/<%= room.id %>/selectCoordinator" class="btn btn-primary btn-sm">Select</a></td>
                            <% } %>
                        <% } %>
                    </tr>
                    <tr>
                        <td>Operator</td>
                        <% if (room.operatorOfRoom) { %>
                            <td style="text-align: center"><%= room.operatorOfRoom.id %></td>
                            <td><%= room.operatorOfRoom.User.username %></td>
                            <td><%= room.operatorOfRoom.User.email %></td>
                            <% if (room.date > new Date()) { %>
                                <td style="text-align: center"><a href="/rooms/<%= room.id %>/selectOperator" class="btn btn-secondary btn-sm">Change</a></td>
                            <% } %>
                        <% } else { %>
                            <td></td>
                            <td></td>
                            <td></td>
                            <% if (room.date > new Date()) { %>
                                <td style="text-align: center"><a href="/rooms/<%= room.id %>/selectOperator" class="btn btn-primary btn-sm">Select</a></td>
                            <% } %>
                        <% } %>
                    </tr>
                    <tr>
                        <td>Technician</td>
                        <% if (room.technicianOfRoom) { %>
                            <td style="text-align: center"><%= room.technicianOfRoom.id %></td>
                            <td><%= room.technicianOfRoom.User.username %></td>
                            <td><%= room.technicianOfRoom.User.email %></td>
                            <% if (room.date > new Date()) { %>
                                <td style="text-align: center"><a href="/rooms/<%= room.id %>/selectTechnician" class="btn btn-secondary btn-sm">Change</a></td>
                            <% } %>
                        <% } else { %>
                            <td></td>
                            <td></td>
                            <td></td>
                            <% if (room.date > new Date()) { %>
                                <td style="text-align: center"><a href="/rooms/<%= room.id %>/selectTechnician" class="btn btn-primary btn-sm">Select</a></td>
                            <% } %>
                        <% } %>
                    </tr>
                </tbody>
                
            </table>

            <br>
            <br>
            <br>

            <!-- Tabla para booths -->

            <h5 class="card-title text-center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; font-weight: bold; letter-spacing: 1px;">BOOTHS TABLE</h5>
            
            <div class="form-group">
                <table class="table mt-3">
                    <thead class="thead-dark">
                        <tr>
                            <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Booths</th>
                            <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Language From</th>
                            <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Language To</th>
                            <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Interpreters</th>
                            <th></th>
                        </tr>
                    </thead>
            
                    <tbody>
                        <% room.boothsDetails.forEach(booth => { %>
                            <tr>
                                <td>Booth <%= booth.id %></td>
                                <td><%= booth.language %></td>
                                <td><%= booth.language_a %></td>
                                <td>
                                    <% 
                                        const interpreters = booth.interpreters.map(interpreter => interpreter.User.username);
                                    %>
                                    <%= interpreters.join(', ') %>
                                </td>
                                <td>
                                    <% if (room.date > new Date()) { %>
                                        <div class="float-right">
                                            <% if (booth.interpreters && booth.interpreters.length > 0) { %> 
                                                <a href="/rooms/<%= room.id %>/booths/<%= booth.id %>/selectInterpreter" class="btn btn-secondary btn-sm">Manage</a>
                                            <% } else { %>
                                                <a href="/rooms/<%= room.id %>/booths/<%= booth.id %>/selectInterpreter" class="btn btn-secondary btn-sm">Add Interpreters</a>
                                            <% } %>
                                            <a href="/rooms/<%= room.id %>/booths/<%= booth.id %>/edit" class="btn btn-primary btn-sm">Edit</a>
                                            <a href="/rooms/<%= room.id %>/booths/<%= booth.id %>/delete" class="btn btn-danger btn-sm">Delete</a>
                                        </div>
                                    <% } %>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>            
                
                <!-- BUTTON: new booth -->
                <div>
                    <% if (room.date > new Date()) { %>
                        <a href="/rooms/<%= room.id %>/booths/new" class="btn btn-success btn-sm">New Booth</a>
                    <% } %>
                </div>
                
            </div>

            <br>

            <!-- Desplegable para booths -->

            <h5 class="card-title text-center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; font-weight: bold; letter-spacing: 1px;">BOOTHS DETAILS</h5>

            <div class="accordion" id="accordionBooths<%= room.id %>">
                <% room.boothsDetails.forEach(booth => { %>
                    <div class="card">
                        <div class="card-header" id="boothHeading<%= booth.id %>">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#boothCollapse<%= booth.id %>" aria-expanded="true" aria-controls="boothCollapse<%= booth.id %>" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">
                                    Booth <%= booth.id %>
                                </button>
                                <!-- Botones editar y eliminar booth -->
                                <% if (room.date > new Date()) { %>
                                    <div class="float-right">
                                        <a href="/rooms/<%= room.id %>/booths/<%= booth.id %>/edit" class="btn btn-primary btn-sm">Edit</a>
                                        <a href="/rooms/<%= room.id %>/booths/<%= booth.id %>/delete" class="btn btn-danger btn-sm">Delete</a>
                                    </div>
                                <% } %>
                            </h2>
                            
                        </div>

                        <div id="boothCollapse<%= booth.id %>" class="collapse" aria-labelledby="boothHeading<%= booth.id %>" data-parent="#accordionBooths<%= room.id %>">
                            <div class="card-body">
                                
                                <table class="table table-borderless mt-8">
                                    <tr>
                                        <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; width: 20%;">Language:</th>
                                        <td><%= booth.language %></td>
                                    </tr>
                                    <tr>
                                        <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; width: 20%;">Language To:</th>
                                        <td><%= booth.language_a %></td>
                                    </tr>
                                    <tr>
                                        <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; width: 20%;">Signs:</th>
                                        <td><%= booth.signs ? 'Yes' : 'No' %></td>
                                    </tr>
                                    <tr>
                                        <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; width: 20%;">Deaf:</th>
                                        <td><%= booth.deaf ? 'Yes' : 'No' %></td>
                                    </tr>
                                    <tr>
                                        <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; width: 20%;">Single:</th>
                                        <td><%= booth.single ? 'Yes' : 'No' %></td>
                                    </tr>
                                    <tr>
                                        <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; width: 20%;">Speech to Text:</th>
                                        <td><%= booth.speech_to_text ? 'Yes' : 'No' %></td>
                                    </tr>

                                    <!-- Interpreters -->
                                    <% if (booth.interpreters && booth.interpreters.length > 0) { %> 
                                        <% booth.interpreters.forEach(function(interpreter, index) { %>
                                            <tr>
                                                <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; width: 20%;">Interpreter <%= index + 1 %>:</th>
                                                <td>
                                                    <a href="/users/<%= interpreter.User.id %>/profile" style="color: blue;"><%= interpreter.User.username %></a>
                                                </td>
                                            </tr>
                                        <% }); %>
                                        <% if (room.date > new Date()) { %>
                                            <th><a href="/rooms/<%= room.id %>/selectInterpreter" class="btn btn-secondary btn-sm">Manage</a></th>
                                        <td></td>
                                        <% } %>
                                    
                                    <% } else { %>
                                        <tr>
                                            <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; width: 20%;">Interpreters...</th>
                                            <% if (room.date > new Date()) { %>
                                                <td colspan="2">
                                                    <a href="/rooms/<%= room.id %>/selectInterpreter" class="btn btn-secondary btn-sm">Add Interpreters</a>
                                                </td>
                                            <% } %>
                                        </tr>
                                    <% } %>

                                </table>                                

                            </div>
                        </div>
                    </div>
                    <br>
                <% }); %>
            </div>
            
        </div>
    </div>

    <br>
    <br>

    <!-- Botón para volver atrás -->
    <div class="text-center">
        <a href="/rooms" class="btn btn-outline-dark">Back</a>
    </div>
</body>

<br>
<br>
<br>
<br>