<!-- views/rooms/show.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Details</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        .details h4 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #4a4a4a;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            margin-top: 20px;
            padding: 10px 20px;
            border-bottom: 7px solid #5b5b5b;
            text-align: center;
        }

        .subtitle h5 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #4a4a4a;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            margin-top: 20px;
            padding: 7px 5px;
        }
        .initial-table th{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #4a4a4a;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            width: 22%;
            vertical-align: middle;
            border-radius: 5px;
            border: 3px solid #ffffff;
            letter-spacing: 0.7px;
        }
        .initial-table td {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #4a4a4a;
            letter-spacing: 0.6px;
            vertical-align: middle;
            border-radius: 5px;
            border: 3px solid #ffffff;


        }
        .initial-table tbody tr:nth-of-type(odd) {
            background-color: #f9f9f9;
        }
        .initial-table tbody tr:nth-of-type(even) {
            background-color: #f9f9f9;
        }
        .initial-table tbody tr:hover {
            background-color: #e9ecef;
        }

        .last-thead th {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: #4a4a4a;
            color: #fff;
            vertical-align: middle;
            text-align: center;
            padding: 5px;
        }

        .last-table td {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #4a4a4a;
            letter-spacing: 0.6px;
            text-align: center;
            border: 2px solid #fff;
        }
        .last-table {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .last-table tbody tr:nth-of-type(even) {
            background-color: #f9f9f9;
        }

    </style>
</head>
<body>
    <div class="container mt-5">
        
        <div class="d-flex justify-content-between align-items-center " id="roomHeader<%= room.id %>">
            <h2 class="mb-0" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; width: 80%;">ROOM <%= room.id %>: <%= room.name %></h2>
            <div>
                <% if (room.date > new Date()) { %>
                    <a href="/rooms/<%= room.id %>/edit" class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                <% } else { %>
                    <a href="/rooms/<%= room.id %>/votes" class="btn btn-secondary btn-sm">Votes</a>
                <% } %>
                <a href="/rooms/<%= room.id %>/delete" class="btn btn-danger btn-sm ml-2"><i class="fa-solid fa-trash-can"></i></a>
            </div>
        </div>
        
        <hr class="my-4">

            <!-- Detalles de la habitación -->
            <div class="profile-header details">
                <h4>Details</h4>
            </div>
            
            <table class="table table-borderless mt-8 initial-table">
                <tr>
                    <th>Description:</th>
                    <td><%= room.description %></td>
                </tr>
                <tr>
                    <th>Date:</th>
                    <td><%= room.date.toLocaleDateString() %></td>
                </tr>
                <tr>
                    <th>Language:</th>
                    <td><%= room.language %></td>
                </tr>
                <tr>
                    <th>Licode Room:</th>
                    <td><%= room.licode_room %></td>
                </tr>
                <tr>
                    <th>Start Time:</th>
                    <td><%= room.time_start %></td>
                </tr>
                <tr>
                    <th>Finish Time:</th>
                    <td><%= room.time_finish %></td>
                </tr>
                <tr>
                    <th>Place:</th>
                    <td><%= room.place %></td>
                </tr>
                <tr>
                    <th>AI Enabled:</th>
                    <td><%= room.ai_enabled ? 'Yes' : 'No' %></td>
                </tr>
                <tr>
                    <th>On Air:</th>
                    <td><%= room.on_air %></td>
                </tr>
                <tr>
                    <th>Educational:</th>
                    <td><%= room.educational ? 'Yes' : 'No' %></td>
                </tr>
                <tr>
                    <th>Zoom URL:</th>
                    <td><%= room.zoom_url %></td>
                </tr>
                <tr>
                    <th>Assigned VRC:</th>
                    <td><%= room.assigned_vrc %></td>
                </tr>

            </table>

            <br>
            <br>

            <!-- Tabla roles asignados -->
            <div class="profile-header subtitle">
                <h5><i class="fa-solid fa-user-group"></i>    Staff</h5>
            </div>
            
            <table class="table mt-3 last-table">
                <thead class="last-thead">
                    <tr>
                        <th>Role</th>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <% if (room.date > new Date()) { %>
                            <th>Manage</th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Consultant</td>
                        <% if (room.consultantOfRoom) { %>
                            <td><%= room.consultantOfRoom.id %></td>
                            <td><%= room.consultantOfRoom.User.username %></td>
                            <td><%= room.consultantOfRoom.User.email %></td>
                            <% if (room.date > new Date()) { %>
                                <td><a href="/rooms/<%= room.id %>/selectConsultant" class="btn btn-secondary btn-sm"><i class="fa-solid fa-user-gear"></i></a></td>
                            <% } %>
                        <% } else { %>
                            <td></td>
                            <td></td>
                            <td></td>
                            <% if (room.date > new Date()) { %>
                                <td><a href="/rooms/<%= room.id %>/selectConsultant" class="btn btn-primary btn-sm"><i class="fa-solid fa-user-plus"></i></a></td>
                            <% } %>
                        <% } %>
                    </tr>
                    <tr>
                        <td>Coordinator</td>
                        <% if (room.coordinatorOfRoom) { %>
                            <td><%= room.coordinatorOfRoom.id %></td>
                            <td><%= room.coordinatorOfRoom.User.username %></td>
                            <td><%= room.coordinatorOfRoom.User.email %></td>
                            <% if (room.date > new Date()) { %>
                                <td><a href="/rooms/<%= room.id %>/selectCoordinator" class="btn btn-secondary btn-sm"><i class="fa-solid fa-user-gear"></i></a></td>
                            <% } %>
                        <% } else { %>
                            <td></td>
                            <td></td>
                            <td></td>
                            <% if (room.date > new Date()) { %>
                                <td><a href="/rooms/<%= room.id %>/selectCoordinator" class="btn btn-primary btn-sm"><i class="fa-solid fa-user-plus"></i></a></td>
                            <% } %>
                        <% } %>
                    </tr>
                    <tr>
                        <td>Operator</td>
                        <% if (room.operatorOfRoom) { %>
                            <td><%= room.operatorOfRoom.id %></td>
                            <td><%= room.operatorOfRoom.User.username %></td>
                            <td><%= room.operatorOfRoom.User.email %></td>
                            <% if (room.date > new Date()) { %>
                                <td><a href="/rooms/<%= room.id %>/selectOperator" class="btn btn-secondary btn-sm"><i class="fa-solid fa-user-gear"></i></a></td>
                            <% } %>
                        <% } else { %>
                            <td></td>
                            <td></td>
                            <td></td>
                            <% if (room.date > new Date()) { %>
                                <td><a href="/rooms/<%= room.id %>/selectOperator" class="btn btn-primary btn-sm"><i class="fa-solid fa-user-plus"></i></a></td>
                            <% } %>
                        <% } %>
                    </tr>
                    <tr>
                        <td>Technician</td>
                        <% if (room.technicianOfRoom) { %>
                            <td><%= room.technicianOfRoom.id %></td>
                            <td><%= room.technicianOfRoom.User.username %></td>
                            <td><%= room.technicianOfRoom.User.email %></td>
                            <% if (room.date > new Date()) { %>
                                <td><a href="/rooms/<%= room.id %>/selectTechnician" class="btn btn-secondary btn-sm"><i class="fa-solid fa-user-gear"></i></a></td>
                            <% } %>
                        <% } else { %>
                            <td></td>
                            <td></td>
                            <td></td>
                            <% if (room.date > new Date()) { %>
                                <td><a href="/rooms/<%= room.id %>/selectTechnician" class="btn btn-primary btn-sm"><i class="fa-solid fa-user-plus"></i></a></td>
                            <% } %>
                        <% } %>
                    </tr>
                </tbody>
                
            </table>

            <br>
            <br>
            <br>

            <!-- Tabla para booths -->
            <div class="profile-header subtitle">
                <h5><i class="fa-solid fa-language"></i>    Booths table</h5>
            </div>
            
            <div class="form-group">
                <table class="table mt-3 last-table">
                    <thead class="last-thead">
                        <tr>
                            <th>Booths</th>
                            <th>Language From</th>
                            <th>Language To</th>
                            <th>Interpreters</th>
                            <th></th>
                        </tr>
                    </thead>
            
                    <tbody>
                        <% room.boothsDetails.forEach(booth => { %>
                            <tr>
                                <td>Booth <%= booth.id %></td>
                                <td><%= booth.language %></td>
                                <td><%= booth.language_a %></td>
                                <td style="width: 30%;">
                                    <% 
                                        const interpreters = booth.interpreters.map(interpreter => interpreter.User.username);
                                    %>
                                    <%= interpreters.join(', ') %>
                                </td>
                                <td>
                                    <% if (room.date > new Date()) { %>
                                        <div class="float-right">
                                            <% if (booth.interpreters && booth.interpreters.length > 0) { %> 
                                                <a href="/rooms/<%= room.id %>/booths/<%= booth.id %>/selectInterpreter" class="btn btn-secondary btn-sm"><i class="fa-solid fa-user-gear"></i></a>
                                            <% } else { %>
                                                <a href="/rooms/<%= room.id %>/booths/<%= booth.id %>/selectInterpreter" class="btn btn-secondary btn-sm"><i class="fa-solid fa-user-plus"></i></a>
                                            <% } %>
                                            <a href="/rooms/<%= room.id %>/booths/<%= booth.id %>/edit" class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                                            <a href="/rooms/<%= room.id %>/booths/<%= booth.id %>/delete" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can"></i></a>
                                        </div>
                                    <% } %>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>            
                
                <!-- BUTTON: new booth -->
                <div>
                    <% if (room.date > new Date()) { %>
                        <a href="/rooms/<%= room.id %>/booths/new" class="btn btn-success btn-sm"><i class="fa-solid fa-plus"></i>  New Booth</a>
                    <% } %>
                </div>
                
            </div>

            <br>

            <!-- Desplegable para booths -->
            <div class="profile-header subtitle">
                <h5><i class="fa-solid fa-language"></i>    Booths details</h5>
            </div>

            <div class="accordion" id="accordionBooths<%= room.id %>">
                <% room.boothsDetails.forEach(booth => { %>
                    <div class="card">
                        <div class="card-header" id="boothHeading<%= booth.id %>">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#boothCollapse<%= booth.id %>" aria-expanded="true" aria-controls="boothCollapse<%= booth.id %>" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">
                                    Booth <%= booth.id %>
                                </button>
                                <!-- Botones editar y eliminar booth -->
                                <% if (room.date > new Date()) { %>
                                    <div class="float-right">
                                        <a href="/rooms/<%= room.id %>/booths/<%= booth.id %>/edit" class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                                        <a href="/rooms/<%= room.id %>/booths/<%= booth.id %>/delete" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can"></i></a>
                                    </div>
                                <% } %>
                            </h2>
                        </div>

                        <div id="boothCollapse<%= booth.id %>" class="collapse" aria-labelledby="boothHeading<%= booth.id %>" data-parent="#accordionBooths<%= room.id %>">
                            <div class="card-body">
                                
                                <table class="table table-borderless mt-8 initial-table">
                                    <tr>
                                        <th>Language:</th>
                                        <td><%= booth.language %></td>
                                    </tr>
                                    <tr>
                                        <th>Language To:</th>
                                        <td><%= booth.language_a %></td>
                                    </tr>
                                    <tr>
                                        <th>Signs:</th>
                                        <td><%= booth.signs ? 'Yes' : 'No' %></td>
                                    </tr>
                                    <tr>
                                        <th>Deaf:</th>
                                        <td><%= booth.deaf ? 'Yes' : 'No' %></td>
                                    </tr>
                                    <tr>
                                        <th>Single:</th>
                                        <td><%= booth.single ? 'Yes' : 'No' %></td>
                                    </tr>
                                    <tr>
                                        <th>Speech to Text:</th>
                                        <td><%= booth.speech_to_text ? 'Yes' : 'No' %></td>
                                    </tr>

                                    <!-- Interpreters -->
                                    <% if (booth.interpreters && booth.interpreters.length > 0) { %> 
                                        <% booth.interpreters.forEach(function(interpreter, index) { %>
                                            <tr>
                                                <th>Interpreter <%= index + 1 %>:</th>
                                                <td>
                                                    <a href="/users/<%= interpreter.User.id %>/profile" style="color: blue;"><%= interpreter.User.username %></a>
                                                </td>
                                            </tr>
                                        <% }); %>
                                        <% if (room.date > new Date()) { %>
                                        <td>
                                            <a href="/rooms/<%= room.id %>/booths/<%= booth.id %>/selectInterpreter" class="btn btn-secondary btn-sm"><i class="fa-solid fa-user-gear"></i></a>
                                        </td>
                                        <% } %>
                                    
                                    <% } else { %>
                                        <tr>
                                            <th>Interpreters...</th>
                                            <% if (room.date > new Date()) { %>
                                                <td colspan="2">
                                                    <a href="/rooms/<%= room.id %>/booths/<%= booth.id %>/selectInterpreter" class="btn btn-secondary btn-sm"><i class="fa-solid fa-user-plus"></i></a>
                                                </td>
                                            <% } %>
                                        </tr>
                                    <% } %>

                                </table>                                

                            </div>
                        </div>
                    </div>
                    <br>
                <% }); %>
            </div>
            
        </div>
    </div>

    <br>
    <br>

    <!-- Botón para volver atrás -->
    <div class="text-center">
        <a href="/rooms" class="btn btn-outline-dark">Back</a>
    </div>

    <br>
    <br>
    <br>
</body>
</html>
