<!-- views/rooms/votes/edit.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votes</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        .profile-header h2 {
            font-family: Georgia, serif;
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 3px;
            margin-top: 20px;
            padding: 15px 20px;
            text-align: center;
            background-color: #4a4a4a;
            border-radius: 10px;
        }

        .details h4 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #4a4a4a;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            margin-top: 20px;
            padding: 10px 10px;
        }
        
        .thead th {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: #4a4a4a;
            color: #fff;
            vertical-align: middle;
            text-align: center;
            padding: 10px;
        }

        .table td {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #4a4a4a;
            letter-spacing: 0.6px;
            text-align: center;
            border: 2px solid #fff;
        }
        .table {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .table tbody tr:nth-of-type(even) {
            background-color: #f9f9f9;
        }

        .star-rating {
            font-size: 150%;
            cursor: pointer;
        }
        .star-rating input[type="radio"] {
            display: none;
        }
        .star-rating label {
            color: #2c2c2c; /* Cambiado el color para cuando está seleccionado */
            margin: 0;
            padding: 0;
            display: inline-block;
        }
        .star-rating input[type="radio"]:checked ~ label {
            color: #ccc; /* Cambiado el color para cuando no está seleccionado */
        }
        .star-rating input[type="radio"]:checked + label {
            color: #2c2c2c; /* Cambiado el color para cuando no está seleccionado */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        
        <div class="profile-header">
            <h2>Voting</h2>
        </div>
        <form method="post" action="/rooms/<%= room.id %>/votes?_method=PUT">
        <hr class="my-4">        
        <div class="details">
            <h4>Room <%= room.id %>: <%= room.name %></h4>
        </div>
           
        <!-- Tabla participantes -->

        <form method="post" action="/rooms/<%= room.id %>/votes?_method=PUT"> 
            <table class="table mt-3">
                <thead class="thead">
                    <tr>
                        <th>Role</th>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Vote</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Coordinator</td>
                        <% if (room.coordinatorOfRoom) { %>
                            <td><%= room.coordinatorOfRoom.id %></td>
                            <td><%= room.coordinatorOfRoom.User.username %></td>
                            <td><%= room.coordinatorOfRoom.User.email %></td>
                            <td>
                                <div class="star-rating">
                                    <input type="radio" id="coordinatorNone" name="coordinatorLike" value="0" <% if (!likeOfCoordinator || likeOfCoordinator.value === 0) { %> checked <% } %>>
                                    <label for="coordinatorNone">•</label>
                                    <input type="radio" id="coordinatorOne" name="coordinatorLike" value="1" <% if (likeOfCoordinator && likeOfCoordinator.value === 1) { %> checked <% } %>>
                                    <label for="coordinatorOne">★</label>
                                    <input type="radio" id="coordinatorTwo" name="coordinatorLike" value="2" <% if (likeOfCoordinator && likeOfCoordinator.value === 2) { %> checked <% } %>>
                                    <label for="coordinatorTwo">★</label>
                                    <input type="radio" id="coordinatorThree" name="coordinatorLike" value="3" <% if (likeOfCoordinator && likeOfCoordinator.value === 3) { %> checked <% } %>>
                                    <label for="coordinatorThree">★</label>
                                    <input type="radio" id="coordinatorFour" name="coordinatorLike" value="4" <% if (likeOfCoordinator && likeOfCoordinator.value === 4) { %> checked <% } %>>
                                    <label for="coordinatorFour">★</label>
                                    <input type="radio" id="coordinatorFive" name="coordinatorLike" value="5" <% if (likeOfCoordinator && likeOfCoordinator.value === 5) { %> checked <% } %>>
                                    <label for="coordinatorFive">★</label>
                                </div>
                            </td>
                        <% } %>
                    </tr>
                    <tr>
                        <td>Operator</td>
                        <% if (room.operatorOfRoom) { %>
                            <td><%= room.operatorOfRoom.id %></td>
                            <td><%= room.operatorOfRoom.User.username %></td>
                            <td><%= room.operatorOfRoom.User.email %></td>
                            <td>
                                <div class="star-rating">
                                    <input type="radio" id="operatorNone" name="operatorLike" value="0" <% if (!likeOfOperator || likeOfOperator.value === 0) { %> checked <% } %>>
                                    <label for="operatorNone">•</label>
                                    <input type="radio" id="operatorOne" name="operatorLike" value="1" <% if (likeOfOperator && likeOfOperator.value === 1) { %> checked <% } %>>
                                    <label for="operatorOne">★</label>
                                    <input type="radio" id="operatorTwo" name="operatorLike" value="2" <% if (likeOfOperator && likeOfOperator.value === 2) { %> checked <% } %>>
                                    <label for="operatorTwo">★</label>
                                    <input type="radio" id="operatorThree" name="operatorLike" value="3" <% if (likeOfOperator && likeOfOperator.value === 3) { %> checked <% } %>>
                                    <label for="operatorThree">★</label>
                                    <input type="radio" id="operatorFour" name="operatorLike" value="4" <% if (likeOfOperator && likeOfOperator.value === 4) { %> checked <% } %>>
                                    <label for="operatorFour">★</label>
                                    <input type="radio" id="operatorFive" name="operatorLike" value="5" <% if (likeOfOperator && likeOfOperator.value === 5) { %> checked <% } %>>
                                    <label for="operatorFive">★</label>
                                </div>
                            </td>
                        <% } %>
                    </tr>
                    <tr>
                        <td>Technician</td>
                        <% if (room.technicianOfRoom) { %>
                            <td><%= room.technicianOfRoom.id %></td>
                            <td><%= room.technicianOfRoom.User.username %></td>
                            <td><%= room.technicianOfRoom.User.email %></td>
                            <td>
                                <div class="star-rating">
                                    <input type="radio" id="technicianNone" name="technicianLike" value="0" <% if (!likeOfTechnician || likeOfTechnician.value === 0) { %> checked <% } %>>
                                    <label for="technicianNone">•</label>
                                    <input type="radio" id="technicianOne" name="technicianLike" value="1" <% if (likeOfTechnician && likeOfTechnician.value === 1) { %> checked <% } %>>
                                    <label for="technicianOne">★</label>
                                    <input type="radio" id="technicianTwo" name="technicianLike" value="2" <% if (likeOfTechnician && likeOfTechnician.value === 2) { %> checked <% } %>>
                                    <label for="technicianTwo">★</label>
                                    <input type="radio" id="technicianThree" name="technicianLike" value="3" <% if (likeOfTechnician && likeOfTechnician.value === 3) { %> checked <% } %>>
                                    <label for="technicianThree">★</label>
                                    <input type="radio" id="technicianFour" name="technicianLike" value="4" <% if (likeOfTechnician && likeOfTechnician.value === 4) { %> checked <% } %>>
                                    <label for="technicianFour">★</label>
                                    <input type="radio" id="technicianFive" name="technicianLike" value="5" <% if (likeOfTechnician && likeOfTechnician.value === 5) { %> checked <% } %>>
                                    <label for="technicianFive">★</label>
                                </div>
                            </td>
                        <% } %>
                    </tr>

                    <% interpreterLikes.forEach((item, index) => { %>
                        <tr>
                            <td>Interpreter</td>
                            <td><%= item.interpreter.id %></td>
                            <td><%= item.interpreter.User.username %></td>
                            <td><%= item.interpreter.User.email %></td>
                            <td>
                                <div class="star-rating">
                                    <input type="radio" id="interpreterNone_<%= item.interpreter.id %>" name="interpreterLike_<%= item.interpreter.id %>" value="0" <% if (!item.like || item.like.value === 0) { %> checked <% } %>>
                                    <label for="interpreterNone_<%= item.interpreter.id %>">•</label>
                                    <input type="radio" id="interpreterOne_<%= item.interpreter.id %>" name="interpreterLike_<%= item.interpreter.id %>" value="1" <% if (item.like && item.like.value === 1) { %> checked <% } %>>
                                    <label for="interpreterOne_<%= item.interpreter.id %>">★</label>
                                    <input type="radio" id="interpreterTwo_<%= item.interpreter.id %>" name="interpreterLike_<%= item.interpreter.id %>" value="2" <% if (item.like && item.like.value === 2) { %> checked <% } %>>
                                    <label for="interpreterTwo_<%= item.interpreter.id %>">★</label>
                                    <input type="radio" id="interpreterThree_<%= item.interpreter.id %>" name="interpreterLike_<%= item.interpreter.id %>" value="3" <% if (item.like && item.like.value === 3) { %> checked <% } %>>
                                    <label for="interpreterThree_<%= item.interpreter.id %>">★</label>
                                    <input type="radio" id="interpreterFour_<%= item.interpreter.id %>" name="interpreterLike_<%= item.interpreter.id %>" value="4" <% if (item.like && item.like.value === 4) { %> checked <% } %>>
                                    <label for="interpreterFour_<%= item.interpreter.id %>">★</label>
                                    <input type="radio" id="interpreterFive_<%= item.interpreter.id %>" name="interpreterLike_<%= item.interpreter.id %>" value="5" <% if (item.like && item.like.value === 5) { %> checked <% } %>>
                                    <label for="interpreterFive_<%= item.interpreter.id %>">★</label>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                    
                    
                    
                </tbody>
            </table>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="javascript:history.go(-1)" class="btn btn-outline-dark">Cancel</a>
            </div>
        </form>
    </div>


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom JavaScript -->
    <script>
        // Función para manejar la selección de estrellas
        $(".star-rating input[type='radio']").click(function() {
            var selectedValue = parseInt($(this).val());
            var starContainer = $(this).closest('.star-rating'); // Obtener el contenedor de estrellas específico
    
            // Iterar sobre las etiquetas hermanas del input radio actual
            $(this).siblings('label').each(function(index) {
                if (index <= selectedValue) {
                    $(this).css("color", "#367cd7"); // Colorear la estrella si está seleccionada
                } else {
                    $(this).css("color", "#ccc"); // Descolorear la estrella si no está seleccionada
                }
            });
        });
    </script>
    
    


</body>
</html>

<br>
<br>
<br>
<br>
