<!-- views/users/interpreters.ejs -->

<div class="card">
    <div class="card-header">
        <h2 class="mb-0" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">List of Interpreters</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">ID</th>
                        <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Username</th>
                        <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Email</th>
                        <th style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Reputation</th>
                        <th style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% interpreters.forEach(interpreter => { %>
                    <tr>
                        <td><%= interpreter.id %></td>
                        <td><a href="/users/<%= interpreter.id %>" style="color: blue;"><%= interpreter.User.username %></a></td>
                        <td><%= interpreter.User.email %></td>
                        <td style="text-align: center;"><%= interpreter.reputation.value %></td>
                        <td style="text-align: center;">
                            <div class="btn-group">
                                <a href="/users/<%= interpreter.id %>/edit" class="btn btn-outline-dark btn-sm btn-white mr-1">Edit</a>
                                <a href="/users/<%= interpreter.id %>/delete" class="btn btn-outline-dark btn-sm btn-white">Delete</a>
                            </div>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            
            <div>

                <!-- Bot칩n para crear usuario -->
                <a href="/users/new" class="btn btn-success">New User</a>

                <!-- Redirecci칩n a languages -->
                <a href="/languages" class="btn btn-secondary">Languages</a>

                <!-- Bot칩n para volver atr치s -->
                <a href="/users" class="btn btn-outline-dark">Back</a>

            </div>
        </div>
    </div>
</div>