<!-- views/users/manageSchedule.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Schedule</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h2 class="mb-0" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Manage Schedule</h2>
        <br>
        <br>
        <form method="post" action="/users/<%= user.id %>/manageScheduleOK?_method=PUT">
        <div>
            <table class="table table-striped table-bordered table-sm">
                    
                <thead class="thead-dark">
                    <tr>
                        <th style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; width: 35%;">Day of the week</th>
                        <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Start time</th>
                        <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Finish time</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Monday</td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" id="start_time_monday" name="start_time_monday">
                                    <option value=""> - Not available - </option>
                                    <% for (let hour = 0; hour <= 23; hour++) { %>
                                        <% let formattedHour = (hour < 10) ? '0' + hour : hour; %>
                                        <% let selected = (TSMonday && TSMonday.start_time === formattedHour + ':00:00') ? ' selected' : ''; %>
                                        <option value="<%= formattedHour %>:00" <%= selected %>><%= formattedHour %>:00</option>
                                    <% } %>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" id="end_time_monday" name="end_time_monday">
                                    <option value=""> - Not available - </option>
                                    <% for (let hour = 0; hour <= 23; hour++) { %>
                                        <% let formattedHour = (hour < 10) ? '0' + hour : hour; %>
                                        <% let selected = (TSMonday && TSMonday.end_time === formattedHour + ':00:00') ? ' selected' : ''; %>
                                        <option value="<%= formattedHour %>:00" <%= selected %>><%= formattedHour %>:00</option>
                                    <% } %>
                                </select>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Tuesday</td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" id="start_time_tuesday" name="start_time_tuesday">
                                    <option value=""> - Not available - </option>
                                    <% for (let hour = 0; hour <= 23; hour++) { %>
                                        <% let formattedHour = (hour < 10) ? '0' + hour : hour; %>
                                        <% let selected = (TSTuesday && TSTuesday.start_time === formattedHour + ':00:00') ? ' selected' : ''; %>
                                        <option value="<%= formattedHour %>:00" <%= selected %>><%= formattedHour %>:00</option>
                                    <% } %>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" id="end_time_tuesday" name="end_time_tuesday">
                                    <option value=""> - Not available - </option>
                                    <% for (let hour = 0; hour <= 23; hour++) { %>
                                        <% let formattedHour = (hour < 10) ? '0' + hour : hour; %>
                                        <% let selected = (TSTuesday && TSTuesday.end_time === formattedHour + ':00:00') ? ' selected' : ''; %>
                                        <option value="<%= formattedHour %>:00" <%= selected %>><%= formattedHour %>:00</option>
                                    <% } %>
                                </select>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Wednesday</td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" id="start_time_wednesday" name="start_time_wednesday">
                                    <option value=""> - Not available - </option>
                                    <% for (let hour = 0; hour <= 23; hour++) { %>
                                        <% let formattedHour = (hour < 10) ? '0' + hour : hour; %>
                                        <% let selected = (TSWednesday && TSWednesday.start_time === formattedHour + ':00:00') ? ' selected' : ''; %>
                                        <option value="<%= formattedHour %>:00" <%= selected %>><%= formattedHour %>:00</option>
                                    <% } %>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" id="end_time_wednesday" name="end_time_wednesday">
                                    <option value=""> - Not available - </option>
                                    <% for (let hour = 0; hour <= 23; hour++) { %>
                                        <% let formattedHour = (hour < 10) ? '0' + hour : hour; %>
                                        <% let selected = (TSWednesday && TSWednesday.end_time === formattedHour + ':00:00') ? ' selected' : ''; %>
                                        <option value="<%= formattedHour %>:00" <%= selected %>><%= formattedHour %>:00</option>
                                    <% } %>
                                </select>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Thursday</td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" id="start_time_thursday" name="start_time_thursday">
                                    <option value=""> - Not available - </option>
                                    <% for (let hour = 0; hour <= 23; hour++) { %>
                                        <% let formattedHour = (hour < 10) ? '0' + hour : hour; %>
                                        <% let selected = (TSThursday && TSThursday.start_time === formattedHour + ':00:00') ? ' selected' : ''; %>
                                        <option value="<%= formattedHour %>:00" <%= selected %>><%= formattedHour %>:00</option>
                                    <% } %>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" id="end_time_thursday" name="end_time_thursday">
                                    <option value=""> - Not available - </option>
                                    <% for (let hour = 0; hour <= 23; hour++) { %>
                                        <% let formattedHour = (hour < 10) ? '0' + hour : hour; %>
                                        <% let selected = (TSThursday && TSThursday.end_time === formattedHour + ':00:00') ? ' selected' : ''; %>
                                        <option value="<%= formattedHour %>:00" <%= selected %>><%= formattedHour %>:00</option>
                                    <% } %>
                                </select>
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Friday</td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" id="start_time_friday" name="start_time_friday">
                                    <option value=""> - Not available - </option>
                                    <% for (let hour = 0; hour <= 23; hour++) { %>
                                        <% let formattedHour = (hour < 10) ? '0' + hour : hour; %>
                                        <% let selected = (TSFriday && TSFriday.start_time === formattedHour + ':00:00') ? ' selected' : ''; %>
                                        <option value="<%= formattedHour %>:00" <%= selected %>><%= formattedHour %>:00</option>
                                    <% } %>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" id="end_time_friday" name="end_time_friday">
                                    <option value="" selected disabled> - Not available - </option>
                                    <% for (let hour = 0; hour <= 23; hour++) { %>
                                        <% let formattedHour = (hour < 10) ? '0' + hour : hour; %>
                                        <% let selected = (TSFriday && TSFriday.end_time === formattedHour + ':00:00') ? ' selected' : ''; %>
                                        <option value="<%= formattedHour %>:00" <%= selected %>><%= formattedHour %>:00</option>
                                    <% } %>
                                </select>
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Saturday</td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" id="start_time_saturday" name="start_time_saturday">
                                    <option value=""> - Not available - </option>
                                    <% for (let hour = 0; hour <= 23; hour++) { %>
                                        <% let formattedHour = (hour < 10) ? '0' + hour : hour; %>
                                        <% let selected = (TSSaturday && TSSaturday.start_time === formattedHour + ':00:00') ? 'selected' : ''; %>
                                        <option value="<%= formattedHour %>:00" <%= selected %>><%= formattedHour %>:00</option>
                                    <% } %>
                                </select>
                            </div>
                        </td>
                        
                        <td>
                            <div class="form-group">
                                <select class="form-control" id="end_time_saturday" name="end_time_saturday">
                                    <option value=""> - Not available - </option>
                                    <% for (let hour = 0; hour <= 23; hour++) { %>
                                        <% let formattedHour = (hour < 10) ? '0' + hour : hour; %>
                                        <% let selected = (TSSaturday && TSSaturday.end_time === formattedHour + ':00:00') ? ' selected' : ''; %>
                                        <option value="<%= formattedHour %>:00" <%= selected %>><%= formattedHour %>:00</option>
                                    <% } %>
                                </select>
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Sunday</td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" id="start_time_sunday" name="start_time_sunday">
                                    <option value=""> - Not available - </option>
                                    <% for (let hour = 0; hour <= 23; hour++) { %>
                                        <% let formattedHour = (hour < 10) ? '0' + hour : hour; %>
                                        <% let selected = (TSSunday && TSSunday.start_time === formattedHour + ':00:00') ? ' selected' : ''; %>
                                        <option value="<%= formattedHour %>:00" <%= selected %>><%= formattedHour %>:00</option>
                                    <% } %>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" id="end_time_sunday" name="end_time_sunday">
                                    <option value=""> - Not available - </option>
                                    <% for (let hour = 0; hour <= 23; hour++) { %>
                                        <% let formattedHour = (hour < 10) ? '0' + hour : hour; %>
                                        <% let selected = (TSSunday && TSSunday.end_time === formattedHour + ':00:00') ? ' selected' : ''; %>
                                        <option value="<%= formattedHour %>:00" <%= selected %>><%= formattedHour %>:00</option>
                                    <% } %>
                                </select>
                            </div>
                        </td>
                    </tr>
                            
                </tbody>
                
            </table>
        </div>

        <br>
        
        <!-- Botones -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Save Schedule</button>
            <a href="javascript:history.go(-1)" class="btn btn-outline-dark">Cancel</a>
        </div>
    </div>

    </form>

    <br>
    <br>
    <br>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>