<!-- views/users/profile.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-0" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">User Profile</h2>
        <div class="row">
            <!-- Columna izquierda -->
            <div class="col-md-6">
                
                <br>
                <table class="table table-borderless mt-4">
                    <tr>
                        <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Username:</th>
                        <td><%= user.username %></td>
                    </tr>
                    <tr>
                        <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Role:</th>
                        <td><%= userRole %></td>
                    </tr>
                    <tr>
                        <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Email:</th>
                        <td><%= user.email %></td>
                    </tr>
                    <tr>
                        <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Password:</th>
                        <td>
                            <div class="row">
                                <div class="col-md-8"> <!-- Dos tercios del ancho -->
                                    <div class="input-group">
                                        <input type="password" class="form-control" id="password" name="password" value="<%= user.password %>" readonly>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary toggle-password" type="button" id="passwordToggle">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </td>
                    </tr>

                    </tr>
                    <% if (user.admin_id) { %>
                        <tr>
                            <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Is Admin:</th>
                            <td>Yes</td>
                        </tr>
                    <% } else { %>
                        <tr>
                            <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Is Admin:</th>
                            <td>No</td>
                        </tr>
                    <% } %>
                
                </table>
                
                <br>

            </div>



            <!-- Columna derecha -->
            <div class="col-md-6">
                <br>
                <br>
                <% if (userRole === 'Interpreter') { %>
                    <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Reputation</h4>
                    <table class="table table-borderless mt-4">
                        <tr>
                            <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Value:</th>
                            <td>PENDIENTE</td>
                        </tr>
                        <tr>
                            <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Votes sent:</th>
                            <td>PENDIENTE</td>
                        </tr>
                        <tr>
                            <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Votes received:</th>
                            <td>PENDIENTE</td>
                        </tr>

                    </table>
                    <!-- CAMBIAR RUTA -->
                    <a href="/editProfile/<%= user.id %>" class="btn btn-primary">Reviews</a>

                <% } else { %>
                    <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Likes</h4>
                    <table class="table table-borderless mt-4">
                        <tr>
                            <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Value:</th>
                            <td>PENDIENTE</td>
                        </tr>
                        <tr>
                            <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Votes sent:</th>
                            <td>PENDIENTE</td>
                        </tr>
                        <tr>
                            <th style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4a4a4a; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">Votes received:</th>
                            <td>PENDIENTE</td>
                        </tr>
                    </table>
                    <!-- CAMBIAR RUTA -->
                    <a href="/editProfile/<%= user.id %>" class="btn btn-primary">Reviews</a>
                <% } %>
                    

            </div>
        </div>

        <!-- Botones -->
        <div class="mt-3">
            <a href="/users/<%= user.id %>/editProfile" class="btn btn-primary">Edit Profile</a>
            <a href="/users/<%= user.id %>/delete" class="btn btn-danger">Delete User</a>
            <a href="javascript:history.go(-1)" class="btn btn-secondary">Back</a>
        </div>
    </div>



    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Botón mostrar password -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const passwordInput = document.getElementById('password');
            const passwordToggle = document.getElementById('passwordToggle');
        
            passwordToggle.addEventListener('click', function() {
                const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordInput.setAttribute('type', type);
                passwordToggle.classList.toggle('active');
            });
        });
    </script>



</body>
</html>
