<!-- views/reputations/index.ejs -->

<div class="card">
    <div class="card-header">
        <h2 class="mb-0">List of Interpreters with Reputation</h2>
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Reputation Value</th>
                    <th>Reputation ID</th>
                </tr>
            </thead>
            <tbody>
                <% reputations.forEach(rep => { %>
                    <tr>
                        <td><%= rep.user.id %></td>
                        <td><%= rep.user.username %></td>
                        <td><%= rep.user.email %></td>
                        <td><%= rep.reputation.value %></td>
                        <td><%= rep.reputation.id %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>